node_modules
yarn-error.log
npm-error.log

*.tsbuildinfo
.vscode/*.log

/build
/dist

# QuickJS build stuff
/quickjs/test_fib.c
/quickjs/examples/test_fib
/quickjs/.obj/
/quickjs/examples/hello
/quickjs/examples/hello_module
/quickjs/hello.c
/quickjs/libquickjs.a
/quickjs/libquickjs.lto.a
/quickjs/qjs
/quickjs/qjsc
/quickjs/qjscalc
/quickjs/qjscalc.c
/quickjs/repl.c
/quickjs/run-test262


**/.yarn/*
!/.yarn/releases
arena-wrapper/dist_pack/grafx-studio-quickjs-async-debug.wasm
arena-wrapper/dist_pack/grafx-studio-quickjs-async.wasm
arena-wrapper/dist_pack/grafx-studio-quickjs-debug.wasm
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.4.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.83.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.150.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.196.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.242.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.312.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.336.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.420.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.616.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.625.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.790.js
arena-wrapper/dist_pack/grafx-studio-quickjs.chunks.862.js
arena-wrapper/dist_pack/grafx-studio-quickjs.main.js
arena-wrapper/dist_pack/grafx-studio-quickjs.wasm
arena-wrapper/dist_pack/index.html
dist_pack/0.bundle.js
dist_pack/159.bundle.js
dist_pack/238.bundle.js
dist_pack/269.bundle.js
dist_pack/358.bundle.js
dist_pack/368.bundle.js
dist_pack/447.bundle.js
dist_pack/561.bundle.js
dist_pack/711.bundle.js
dist_pack/830.bundle.js
dist_pack/bundle.js
dist_pack/emscripten-module.WASM_DEBUG_ASYNCIFY.wasm
dist_pack/emscripten-module.WASM_DEBUG_SYNC.wasm
dist_pack/emscripten-module.WASM_RELEASE_ASYNCIFY.wasm
dist_pack/emscripten-module.WASM_RELEASE_SYNC.wasm
